{% load form_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EM Dodji | ST2025</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon/logo_gestschool.png">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">
    <link rel="stylesheet" href="/static/css/auth.css">
        
</head>
<body>  
      
    <div class="container" id="loader" style="display: none;">
        <div class="half"></div>
        <div class="half"></div>
    </div>

    <div class="login-container" id="login-container">
        <div class="form-column">
      
            <h2 class="title">EM Dodji | ST2025</h2>
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-fill alert-info" role="alert">
                            <h4 class="alert-title">EM Dodji | ST2025</h4>
                            <div class="alert-message"><i class="ion ion-ios-alert"></i> {{ message }}</div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

            <form class="form-validate is-alter" method="post" action="{% url 'login_view' %}" id="login-form" style=" margin-top : 2%;">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="form-control-wrap">
                            {% if field.name == 'password' %}
                                <div class="password-wrapper">
                                    {{ field|add_class:"form-control form-control-lg password-input" }}
                                    <i class="bx bx-show password-toggle" id="password-toggle-{{ field.id_for_label }}"></i>
                                </div>
                                
                            {% else %}
                                {{ field|add_class:"form-control form-control-lg" }}
                            {% endif %}

                            {% if field.errors %}
                                <div class="form-note-s2 text-danger">
                                    {{ field.errors }} 
                                </div>
                            {% endif %}
                        </div>
                        
                    </div>
                {% endfor %}
        
                <button type="submit" class="btn">Se connecter</button>
                
            </form> 
           
        </div>
        <div class="image-column"></div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

<script src="/static/js/auth.js"></script>

</html>